@import "config";
@import "menu";
@import "work";

* {
  box-sizing: border-box;
}

body {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Roboto";
  line-height: 1.5;

  &#bg-img-about {
    background: $about-image;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
  }

  &#bg-img {
    @include background();
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($primary-color, 0.85);
    z-index: -1;

    @include easeOut;

    &.hide {
      background: rgba($primary-color, 0);
    }
  }
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 300;

  padding: 0;
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin: 1.5rem 0rem;
    background: rgba(59, 67, 71, 0.5);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
  font-family: "Roboto";
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;

  @include easeOut;

  &.hide {
    opacity: 0;
  }
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 5rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  .contact-info {
    @include easeOut;
    margin-top: 4rem;

    height: 100%;
    display: block;

    .contact-info-button {
      @include easeOut;
      //background-color: rgba($secondary-color, 0.1);

      display: inline-flex;
      align-items: center;

      cursor: pointer;

      i {
        @include easeOut;
        color: white;

        font-size: 0.95rem;

        margin: 0rem 1rem;

        &.show {
          transform: rotateZ(180deg);
        }
      }
      h2 {
        @include easeOut;
        user-select: none;

        //margin: 0 1rem;

        margin-right: 0rem;

        color: white;
      }

      &.show {
        //background-color: rgba($secondary-color, 0.35);
      }

      margin-bottom: 0.5rem;
    }

    .contacts {
      @include easeOut;

      opacity: 0;

      div {
        @include easeOut;

        padding: 0.25rem;
      }

      i {
        @include easeOut;

        color: white;

        margin: 0rem 2rem;
        transform: scale(0.85);
      }

      a {
        @include easeOut;

        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.8rem;

        margin: 0rem 2rem;
      }

      &.show {
        @include easeOut;
        opacity: 1;

        i {
          margin: 0rem 0.5rem;
          transform: scale(1);
        }

        a {
          margin: 0rem 0.5rem;
        }
      }
    }
  }

  .main-info {
    margin-bottom: 2rem;
    padding: 0.2rem;
    background: rgba(lighten($primary-color, 2), 0.5);
    display: flex;
    justify-content: space-between;
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }

  @include easeOut;

  &.hide {
    opacity: 0;
  }
}

span {
  &.highlight {
    color: $secondary-color;
    font-weight: 600;
  }

  &.highlight-wow {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    font-weight: 600;
    font-size: 1.35rem;
    padding: 2px 5px;
  }

  &.hover-for-bg {
    font-weight: 400;
    background: lighten($primary-color, 10);
    padding: 2px 5px;
    cursor: zoom-in;

    &.clone {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bioimage bio bio"
    "job1 job2 bio bio";
  grid-template-columns: repeat(4, 1fr);

  .bio-image {
    background: $portrait-image-2;
    background-size: cover;

    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;

    width: 350px;
    height: 350px;
  }

  .bio {
    grid-area: bio;
    font-weight: 300;

    h2 {
      line-height: 1;
      font-size: 3rem;
    }

    .bio-info {
      height: 100%;
      display: grid;
      grid-template-rows: repeat(auto-fit, 1fr);

      .bio-1 {
        grid-area: bio-1;
      }
      .bio-2 {
        grid-area: bio-2;
      }
      .bio-3 {
        grid-area: bio-3;
      }
      .bio-4 {
        grid-area: bio-4;
      }

      grid-template-areas:
        "bio-1"
        "bio-2"
        "bio-3"
        "bio-4";
    }
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 1rem;
    border-bottom: $secondary-color 5px solid;

    h6 {
      font-size: 0.8rem;
      display: inline-block;
      padding: 0.5rem;
      background-color: rgba(black, 0.1);
      margin: 25px 0px 15px 0px;
    }

    h3 {
      text-align: left;

      a {
        @include easeOut;
        padding: 0.5rem;
        background-color: darken($primary-color, 0.5);
        &:hover {
          background-color: darken($secondary-color, 0.5);
        }
      }

      span {
        color: $secondary-color;
        font-weight: 300;
        float: right;
      }
    }
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: set-text-color(darken($primary-color, 50));
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: set-text-color(lighten($primary-color, 50));
}

#main-footer {
  text-align: center;
  color: set-text-color($primary-color);
  height: 25px;
  font-weight: lighter;
  font-size: 13px;
}

@import "mobile";
